@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.bg-primer {
    background: #E3E3E3;
}

.active {
    background: #55555580;
}

.border-primer {
    border: 1px solid #ccc;
    border-radius: 0;
}

.menu-sidebar {
    text-decoration: none;
    display: inline-block;
    
}

.fsmall {
    font-size: 13px;
}